.narrow {
	max-width: 1080px; 
	margin: 0 auto; 
	float: none;
}
							
.plain {
	margin-left:0;
	margin-top:0;
	margin-bottom:0;
	padding-left:0;
	list-style-type: none;
}

.accordion-plus {
	font-size: 20px;
	background-color: #e5e7e9;
	padding-top: 8px;
	padding-bottom: 8px;
}

.accordion-plus:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  float: right;
  margin-left: 5px;
}

.accordion-plus:hover {
  background-color: lightgray;
}

.accordion-minus {
	font-size: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.accordion-minus:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  font-size: 20px;
  float: right;
  margin-left: 5px;
}

.accordion-minus:hover {
  background-color: lightgray;
}